{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css%22%3E">
    <h1>What type of worksheet do you need?</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p><div class="mb-3">
            <label for="grade_level" class="form-label">Grade Level:</label>
            <select class="form-select" name="grade_level" id="grade_level">
              <option value="1st Grade">1st Grade</option>
              <option value="2nd Grade">2nd Grade</option>
              <option value="3rd Grade">3rd Grade</option>
              <option value="4th Grade">4th Grade</option>
              <option value="5th Grade">5th Grade</option>
              <option value="6th Grade">6th Grade</option>
            </select>
          </div></p>
        
        <p>{{ form.english_ability.label }} {{ form.english_ability() }}</p>
        <p>
            {{ form.vocabulary_words.label }}<br>
            {{ form.vocabulary_words(size=32) }}
        </p>
        <p>{{ form.fill_in_the_blank() }} {{ form.fill_in_the_blank.label }}</p>
        <p>{{ form.definition_matching() }} {{ form.definition_matching.label }}</p>
        <p>{{ form.synonym() }} {{ form.synonym.label }}</p>
        <p>{{ form.antonym() }} {{ form.antonym.label }}</p>
        <p>{{ form.fill_in_the_letters() }} {{ form.fill_in_the_letters.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}

