{% extends "base.html" %} {% block content %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>

<style>
  .page-content {
    margin-left: 20px;
  }
</style>

<div class="page-content">
  <h1>What type of worksheet do you need?</h1>
  <form action="{{ url_for('getform') }}" method="post" novalidate>
    {{ form.csrf_token }} {{ form.hidden_tag() }}

    <!-- Grade Level -->
    <div class="form-group">
      {{ form.grade_level.label(class="form-label") }} {{
      form.grade_level(class="form-select") }}
    </div>

    <!-- English Ability -->
    <div class="form-group">
      {{ form.english_ability.label(class="form-label") }} {{
      form.english_ability(class="form-select") }}
    </div>

    <!-- Vocabulary Words -->
    <div class="form-group">
      {{ form.vocabulary_words.label(class="form-label") }} {{
      form.vocabulary_words(class="form-control") }}
      <small class="form-text text-muted"
        >Enter the vocabulary words separated by commas</small
      >
    </div>

    <!-- Question Types -->
    <div class="form-group py-2">
      <label class="form-label">Question Types:</label>
      <div class="form-check">
        {{ form.fill_in_the_blank(class="form-check-input") }} {{
        form.fill_in_the_blank.label(class="form-check-label") }}
      </div>
      <div class="form-check">
        {{ form.definition_matching(class="form-check-input") }} {{
        form.definition_matching.label(class="form-check-label") }}
      </div>
      <div class="form-check">
        {{ form.synonym(class="form-check-input") }} {{
        form.synonym.label(class="form-check-label") }}
      </div>
      <div class="form-check">
        {{ form.antonym(class="form-check-input") }} {{
        form.antonym.label(class="form-check-label") }}
      </div>
      <div class="form-check">
        {{ form.fill_in_the_letters(class="form-check-input") }} {{
        form.fill_in_the_letters.label(class="form-check-label") }}
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Generate Worksheet</button>
  </form>
</div>
{% endblock %}
