{% extends "base.html" %} {% block content %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Output</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script src="main.js"></script>
  </head>
  <body>
    <div class="container text-center">
      <h1>Success!</h1>
      <p>
        Here is your custom vocabulary worksheet. Review the content and
        download it if you wish. Try generating another worksheet if you are
        unhappy with the results.
      </p>
      <div class="text-center pb-3">
        <a href="{{ url_for('download_pdf') }}" download
          >Click here to download your PDF</a
        >
      </div>
      <object
        data="{{ url_for('download_pdf') }}"
        type="application/pdf"
        width="100%"
        height="600px"
      >
        <p>
          It appears you don't have a PDF plugin for this browser. You can
          <a href="{{ url_for('download_pdf') }}"
            >click here to download the PDF file.</a
          >
        </p>
      </object>
      <div class="text-center pt-3">
        <a class="btn btn-primary" href="/getform" role="button"
          >Generate another worksheet</a
        >
      </div>
    </div>
  </body>
</html>
{% endblock %}
